---
---
@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

$global-font-family: 'Lexend', sans-serif;
$header-font-family: 'Lexend', sans-serif;
$caption-font-family: 'Lexend', sans-serif;

@import "minimal-mistakes/skins/notion";
@import "minimal-mistakes";

/* Override footer text color */
.page__footer {
  color: #fff;

  .fas,
  .fab,
  .far,
  .fal {
    color: #fff;
  }
}
