/* Notion inspired skin */
$background-color: #f8f8f7 !default;
$text-color: #202020 !default;
$muted-text-color: #2f2f2f !default;
$primary-color: #202020 !default;
$border-color: mix(#fff, $text-color, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: $text-color !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;
